<div class="container">
<app-navbar></app-navbar>
</div>
<!--Home Banner Start-->
<div class="container home-section">
    <div class="row">
        <div class="col-lg-6">
            <div class="hs-text-box">
                <h6><span>Liza Akter</span></h6>
                <h1>Hay! I’m Liza</h1>
                <h2>House Chef</h2>
                <p class="text">Being a house chef allows me to infuse my cooking with personal passion and attention to detail, creating dishes that are not only delicious but truly reflect my unique style</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="hs-banner">
                <img src="assets/img/chili-chi.jpg" title="" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container free-time">
    <div class="section-heading">
        <h3><span>CONTEXT OF ME</span></h3>
    </div>
    <div class="row">
        <p class="text">I am a family-oriented person. I love to spend my time with my family. I grew up in a joint family where my grandparents my parents and my siblings 
            all lived in one house. Family time is invaluable for building bonds and creating cherished memories, whether it's sharing meals together that are prepared or engaging 
            in other activities that bring you all closer.
            <br>
            I like to prepare delicious meals for my family members. That's an art where every ingredient contains your love to serve others. On my vacation, I love to explore new places. For me, traveling offers opportunities to discover new culinary traditions, cultures, and inspirations that can further enrich my professional life and boost my energy to become more confident.  
        </p>
        <span><a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Read More
        </a></span>
    </div>
</div>
<!--COOKING DAIRY START-->
<div class="container cooking-diary">
    <div class="section-heading">
        <h3><span> COOKING DAIRY</span></h3>
    </div>
    <div class="row gy-5">
        <div class="col-sm-6 col-lg-3">
            <div class="cooking-box" style="background-image: url(assets/img/d1.jpg);">
                <div class="dairy-body">
                    <h5>Chingri Bora</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="cooking-box" style="background-image: url(assets/img/d2.JPEG);">
                <div class="dairy-body">
                    <h5>Chotpoti</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="cooking-box" style="background-image: url(assets/img/d3.jpg);">
                <div class="dairy-body">
                    <h5>Fried Rice</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="cooking-box" style="background-image: url(assets/img/d4.jpg);">
                <div class="dairy-body">
                    <h5>Shahi Firni</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container contact-form">
    <div class="section-heading">
        <h3><span>SHARE YOUR RECIPE</span></h3>
    </div>
    <div class="row">
        <form>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Recipe</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="mb-3">
                <label for="formFileSm" class="form-label">Meal Image</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
              </div>
              <button type="button" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
